<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../styles/details.css">
</head>

<body>
    <div id="rectangle">
        <div>
            Driver: {{details.driver}}
        </div>
        <div>
            Truck Number: {{details.truck_number}}
        </div>
        <div>
            <span>The maximum waiting time for the driver is one hour. Try not to be late.</span>
        </div>
        
    </div>
</body>

</html>