<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../styles/edit.css">
    <meta charset="utf-8" />
</head>


<body>
    <div class="form-style-8">
        <form action="/edit" method="POST">
            <h2 class="form-title">Edit the order</h2>
            <input type="hidden" name="order_id" value="{{order.order_id}}" />
            <div class="form-field">
                <select name="service">
                    <option value="" selected disabled hidden>Choose a service</option>
                    <option>Apartment relocation</option>
                    <option>Office relocation</option>
                    <option>Removal of garbage</option>
                    <option>Transportation of furniture and household appliances</option>
                </select>
            </div>
            <div class="form-field">
                <select name="truck">
                    <option value="" selected disabled hidden>Choose a truck </option>
                    <option>Caddy</option>
                    <option>Crafter</option>
                    <option>Transporter</option>
                </select>
            </div>
            <div class="form-field">
                    <input name="sending_address" type="text" value="{{order.sending_address}}" placeholder="Sending Address" />
                </div>
                <div class="form-field">
                    <input name="destination_address" type="text" value="{{order.destination_address}}" placeholder="Destination Address" />
                </div>
            <div class="form-field">
                <input id="theDate" class="input" name="delivery_date" type="date" placeholder="Delivery_date" />
            </div>
            <div class="two">
                <input type="submit" class="submitBtn" value="Update" />
                <a href="/orders">Back to orders</a>
            </div>
        </form>
    </div>

</body>
<script>
    var date = new Date();

    var day = date.getDate();
    var month = date.getMonth() + 1;
    var year = date.getFullYear();

    if (month < 10) month = "0" + month;
    if (day < 10) day = "0" + day;

    var today = year + "-" + month + "-" + day;
    document.getElementById("theDate").value = today;
</script>
<html>