<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="styles/login.css">
    <meta charset="utf-8" />
</head>

<body>
    <div class="form-container">
        <form class="form-fields" method="POST">
            <h1 class="form-title">Log in to your account</h1>
            <div class="form-field">
                <input class="input" name="email" type="text" placeholder="a" />
                <label for="" class="label">Email</label>
            </div>
            <div class="form-field">
                <input class="input" name="password" type="password" placeholder="a" />
                <label for="" class="label">Password</label>
            </div>
            <input type="submit" class="submitBtn" value="Log in" />
        </form>
    </div>
</body>
<html>