<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="styles/main.css">
    <meta charset="utf-8" />
</head>

<body>

    <header>
        <div class="header-top" id="myHeader">
            <span style="font-size: 20px; color: black;">Hello, {{name}}</span>
            <div class="header-right">
                <a class="active" href="/orders">List of orders</a>
                <a href="/logout">Log out</a>
                <a href="/register">Sign up</a>
            </div>
        </div>
    </header>


    <div class="layout">
        <div class="form-style-8">
            <form method="POST">
                <input type="hidden" name="customer_id" value={{customer_id}} />
                <h2 class="form-title">Leave an order</h2>
                {{!-- <div class="form-field">
                    <input class="input" name="name" type="text" placeholder="Name" />
                </div> --}}
                <div id="mydiv" class="form-field">
                    <select name="service">
                        <option value="" selected disabled hidden>Choose a service</option>
                        <option>Apartment relocation</option>
                        <option>Office relocation</option>
                        <option>Removal of garbage</option>
                        <option>Transportation of furniture and household appliances</option>
                    </select>
                </div>
                {{!-- <div class="form-field">
                    <input class="input" name="truck" type="text" placeholder="Truck" />
                </div> --}}
                <div class="form-field">
                    <select name="truck">
                        <option value="" selected disabled hidden>Choose a truck</option>
                        <option>Volkswagen Crafter 35 0.9т</option>
                        <option>FAW CA1031K2L 2т</option>
                        <option>BAW 1065Y 2.81т</option>
                        <option>Hyundai HD 65 3.5т</option>
                    </select>
                </div>
                <div class="form-field">
                    <input name="address" type="text" placeholder="Address" />
                </div>
                <div class="form-field">
                    <input id="theDate" class="input" name="delivery_date" type="date" placeholder="Delivery_date" />
                </div>
                <input type="submit" class="submitBtn" value="Create the order" onclick="orderHandler()" />
                <p style="color: teal;" id="success"></p>
            </form>
        </div>
        <div class="description">
            <h2>Our mission</h2>
            <div>
                We create a technological and reliable world of cargo transportation, comfortable for everyone, saving
                time for life, recreation and business.
                Our future is leadership in the field of low-tonnage and large-tonnage transportation.
                We make every effort to be useful and meet the needs of each client.
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-bottom">

            About us
        </div>
    </footer>
</body>
<script>

    var date = new Date();

    var day = date.getDate();
    var month = date.getMonth() + 1;
    var year = date.getFullYear();

    if (month < 10) month = "0" + month;
    if (day < 10) day = "0" + day;

    var today = year + "-" + month + "-" + day;
    document.getElementById("theDate").value = today;

    //function orderHandler() {
    //    document.getElementById("success").innerHTML = "Order was created successfully";
    //    let element = document.getElementById("mydiv");
    //    element.setAttribute("hidden");
    //}
</script>
<html>