<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="styles/main.css">
    <meta charset="utf-8" />
</head>

<body>

    <header>
        <div class="header-top" id="myHeader">
            <span style="font-size: 20px; color: black;">Hello, {{name}}</span>
            <div class="header-right">
                <a class="active" href="/orders">List of orders</a>
                <a href="/logout">Log out</a>
            </div>
        </div>
    </header>

    <h2 style="text-align: center;">Сhoose the right truck, that you think is the most suitable:</h2>
    <div class="trucks">
        <div>
            <img class="truck" src="/images/vw_caddy.png" alt="">
        </div>
        <div>
            <img class="truck" src="/images/vw_crafter.png" alt="">
        </div>
        <div>
            <img class="truck" src="/images/vw_transporter.png" alt="">
        </div>
    </div>
    <div class="about_cars">
        <div class="info">
            <p><span class="car_name">Volkswagen Caddy Cargo Maxi</span></p>
            <p>Load Capacity: 2.2 t</p>

        </div>
        <div class="info">
            <p><span class="car_name">Volkswagen Crafter Kasten 30</span></p>
            <p>Load Capacity: 3 t</p>
        </div>
        <div class="info">
            <p><span class="car_name">Volkswagen Transporter Kasten LR</span></p>
            <p>Load Capacity: 3.9 t</p>
        </div>
    </div>
    <div class="buttons">
        <div class="form_radio_btn">
            <input type="radio" id="caddy" name="car" value="Caddy" checked>
            <label for="caddy">Caddy</label>
        </div>
        <div class="form_radio_btn">
            <input type="radio" id="crafter" name="car" value="Crafter">
            <label for="crafter">Crafter</label>
        </div>
        <div class="form_radio_btn">
            <input type="radio" id="transporter" name="car" value="Transporter">
            <label for="transporter">Transporter</label>
        </div>
        </form>
    </div>
    <div class="layout">
        <div class="form-style-8">
            <form method="POST">
                <input type="hidden" name="customer_id" value={{customer_id}} />
                <input id="choosen_car" type="hidden" name="truck" value={{customer_id}} />
                <h2 class="form-title">Leave an order</h2>
                <div class="form-field">
                    <select name="service">
                        <option value="" selected disabled hidden>Choose a service</option>
                        <option>Apartment relocation</option>
                        <option>Office relocation</option>
                        <option>Removal of garbage</option>
                        <option>Transportation of furniture and household appliances</option>
                    </select>
                </div>
                {{!-- <div class="form-field">
                    <select name="truck">
                        <option value="" selected disabled hidden>Choose a truck</option>
                        <option>Caddy</option>
                        <option>Crafter</option>
                        <option>Transporter</option>
                    </select>
                </div> --}}
                <div class="form-field">
                    <input name="address" type="text" placeholder="Address" />
                </div>
                <div class="form-field">
                    <input id="theDate" class="input" name="delivery_date" type="date" placeholder="Delivery_date" />
                </div>
                <input type="submit" class="submitBtn" value="Create the order" onclick="displayRadioValue()" />
                <p style="color: teal;" id="success"></p>
            </form>
        </div>
    </div>
    <div class="description">
        <h2>Our mission</h2>
        <div>
            We create a technological and reliable world of cargo transportation, comfortable for everyone, saving
            time for life, recreation and business.
            Our future is leadership in the field of low-tonnage and large-tonnage transportation.
            We make every effort to be useful and meet the needs of each client.
        </div>
    </div>
    <footer>
        <div class="footer-bottom">
            About us
        </div>
    </footer>
</body>
<script>

    var date = new Date();
    var day = date.getDate();
    var month = date.getMonth() + 1;
    var year = date.getFullYear();
    if (month < 10) month = "0" + month;
    if (day < 10) day = "0" + day;
    var today = year + "-" + month + "-" + day;
    document.getElementById("theDate").value = today;

    function displayRadioValue() {
        var ele = document.getElementsByName('car');
        console.log(ele)
        for (i = 0; i < ele.length; i++) {
            if (ele[i].checked)
                document.getElementById('choosen_car').value = ele[i].value;
        }
    }

</script>
<html>