<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../styles/notauth.css">
    <title>Error</title>
</head>

<body>
    <div>
        Sorry, but you need to log in :(
    </div>
    <a href="/login">Login</a>
</body>

</html>