<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="styles/register.css">
    <meta charset="utf-8" />
</head>

<body>
    <div class="form-container">
        <form class="form-fields" method="POST">
            <h1 class="form-title">Create an account</h1>
            <div class="form-field">
                <input class="input" name="name" type="text" placeholder="a" />
                <label for="" class="label">Name</label>
            </div>
            <div class="form-field">
                <input class="input" name="email" type="text" placeholder="a" />
                <label for="" class="label">Email</label>
            </div>
            <div class="form-field">
                <input class="input" name="number" type="text" placeholder="a" />
                <label for="" class="label">Number</label>
            </div>
            <div class="form-field">
                <input class="input" name="city" type="text" placeholder="a" />
                <label for="" class="label">City</label>
            </div>
            <div class="form-field">
                <input class="input" name="password" type="password" placeholder="a" />
                <label for="" class="label">Password</label>
            </div>
            <a class="login" href="/login">Log in</a>
            <input type="submit" class="submitBtn" value="Sign up" />
        </form>
    </div>
</body>
<html>